<!DOCTYPE html>
<html>
<head>
    <title>TDCC 股東e票通股東會電子投票平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/index.css" rel="stylesheet">
	<link href="../assets/css/shared.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div class="header-logo">
          <a href="index.html"><img src="../assets/images/logo.png"/></a>
      </div>
      <label class="menu-button" for="menu-open">
        <span class="menu-button-lines menu-button-lines-1"></span>
        <span class="menu-button-lines"></span>
        <span class="menu-button-lines menu-button-lines-3"></span>
      </label>
      <input type="checkbox" id="menu-open"/>
      <nav>
        <ul>
          <li><a href="index.html">首頁</a></li>
          <li><a href="#">關於我們</a></li>
          <li><a href="#">活動消息</a></li>
          <li><a href="#">參加發行公司</a></li>
          <li><a href="#">Ｑ＆Ａ</a></li>
          <li><a href="#">聯絡我們</a></li>
          <li><a href="login.html">登入</a></li>
        </ul>
      </nav>
  </header>
    <main class="container border-box">
      <div class="c-news">
        <label class="c-news-label">
          活動消息：
        </label>
        <div class="c-news-container">
          活動消息活動消息活動消息活動消息活動消息活動消息活動消息活動消息活動消息活動消息活動消息活動消息活動消息活動消息活動消息
        </div>
      </div>
      <div class="c-brand">
        <div class="c-brand-item">
          <label>一般股東</label>
        </div>
        <div class="c-brand-item">
          <label>發行公司、服務代理機構</label>
        </div>
        <div class="c-brand-item">
          <label>專業機構法人</label>
        </div>
      </div>
      <div class="c-begin">
        <div class="c-begin-item">
          <a href="#">新手上路</a>
        </div>
        <div class="c-begin-item">
          <a href="#">首次使用設定</a>
        </div>
      </div>
      <div class="c-meeting-info">
        <div>股東會資訊</div>
        <div>
          <div class="c-info-search">
            <div>
              <label>資料排序方式:</label>
              <input />
              <button>查詢</button>
            </div>
            <div>
              <label>搜尋股東會:</label>
              <input />
              <button>查詢</button>
            </div>
          </div>
          <div class="c-info-result">
            <table>
              <thead>
                <tr>
                  <th>證券代號/名稱</th>
                  <th>股東會日期</th>
                  <th>投票起迄日期</th>
                  <th>服務單位</th>
                  <th>聯絡電話</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>6702 復興航空</td>
                  <td>106/01/11</td>
                  <td>105/12/27~106/01/08</td>
                  <td>群益金鼎證券</td>
                  <td>(02)2703-500</td>
                </tr>
                <tr>
                  <td>6702 復興航空</td>
                  <td>106/01/11</td>
                  <td>105/12/27~106/01/08</td>
                  <td>群益金鼎證券</td>
                  <td>(02)2703-500</td>
                </tr>
                <tr>
                  <td>6702 復興航空</td>
                  <td>106/01/11</td>
                  <td>105/12/27~106/01/08</td>
                  <td>群益金鼎證券</td>
                  <td>(02)2703-500</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="c-link">
        <div class="c-link-otherlinks">
          <button class="c-link-otherlinks-item">公開資訊觀測站</button>
          <button class="c-link-otherlinks-item">股東會法規查詢</button>
          <button class="c-link-otherlinks-item">股務機構查詢</button>
          <button class="c-link-otherlinks-item">股東e票通APP安裝</button>
          <button class="c-link-otherlinks-item">股東會電子投票專區</button>
          <button class="c-link-otherlinks-item">股東e票通抽獎活動</button>
        </div>
        <div class="c-link-relative">
          <div class="c-link-relativetitle">
            <h4>相關網站</h4>
            <a href="#">more</a>
          </div>
          <ul class="c-link-relativelinks">
            <li><a href="#">金融監督管理委員會</a></li>
            <li><a href="#">台灣證券交易所</a></li>
            <li><a href="#">台灣期貨交易所</a></li>
            <li><a href="#">證券櫃檯買賣中心</a></li>
            <li><a href="#">台灣集保結算所</a></li>
          </ul>
        </div>
      </div>
    </main>
    <footer>
      <div>
        聯絡我們：<br />週一至週五<br />
        08:00〜20:00 電話：(02)3789-7555<br />
        08:30〜17:30 電話：(02)2514-1125、(02)2514-1242
      </div>
      <div>
        E-Mail：tdcc@tdcc.com.tw<br />
        台北市復興北路363號11樓
      </div>
      <div class="footer-line"></div>
      <div>
        <img src="../assets/images/ANAB.png"></img>
        <img src="../assets/images/dpmark.png"></img>
      </div>
    </footer>
  </body>
</html>
