<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="../assets/css/style.css" rel="stylesheet">
</head>
<body>
	<header></header>
	<div class="container border-box">
		<div class="c-news">
            <label class="c-news-label">
                活動消息：
            </label>
            <div class="c-news-container">
                活動消息活動消息活動消息活動消息活動消息活動消息活動消息活動消息活動消息活動消息活動消息活動消息活動消息活動消息活動消息
            </div>
        </div>
		<div class="c-brand">
            <div class="container">
                <div class="c-brand-item">
                    <label>一般股東</label>
                </div>
                <div class="c-brand-item">
                    <label>發行公司、服務代理機構</label>
                </div>
                <div class="c-brand-item">
                    <label>專業機構法人</label>
                </div>
            </div>
        </div>
		<div class="c-begin">
            <div class="c-begin-item">
                <a href="#">新手上路</a>
            </div>
            <div class="c-begin-item">
                <a href="#">首次使用設定</a>
            </div>
        </div>
		<div class="c-meeting-info"></div>
		<div class="c-link">
            <div class="c-link-otherlinks">
                <button class="c-link-otherlinks-item"></button>
                <button class="c-link-otherlinks-item"></button>
                <button class="c-link-otherlinks-item"></button>
                <button class="c-link-otherlinks-item"></button>
                <button class="c-link-otherlinks-item"></button>
                <button class="c-link-otherlinks-item"></button>
            </div>
            <div class="c-link-relative">
                <div class="c-link-relativetitle">
                    <h4>相關網站</h4>
                    <a>more</a>
                </div>
                <ul class="c-link-relativelinks">
                    <li>金融監督管理委員會</li>
                    <li>台灣證券交易所</li>
                    <li>台灣期貨交易所</li>
                    <li>證券櫃檯買賣中心</li>
                    <li>台灣集保結算所</li>
                </ul>
            </div>
        </div>
	</div>
	<footer></footer>
</body>
</html>