<!DOCTYPE html>
<html>

<head>
    <title>TDCC 股東e票通股東會電子投票平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../assets/css/style.css" rel="stylesheet" />
    <link href="../assets/css/login.css" rel="stylesheet" />
    <link href="../assets/css/shared.css" rel="stylesheet" />
</head>

<body class="l-body">
    <header>
        <div class="header-logo">
            <a href="index.html"><img src="../assets/images/logo.png"/></a>
        </div>
        <label class="menu-button" for="menu-open">
          <span class="menu-button-lines menu-button-lines-1"></span>
          <span class="menu-button-lines"></span>
          <span class="menu-button-lines menu-button-lines-3"></span>
        </label>
        <input type="checkbox" id="menu-open"/>
        <nav>
          <ul>
            <li><a href="index.html">首頁</a></li>
            <li><a href="#">關於我們</a></li>
            <li><a href="#">活動消息</a></li>
            <li><a href="#">參加發行公司</a></li>
            <li><a href="#">Ｑ＆Ａ</a></li>
            <li><a href="#">聯絡我們</a></li>
            <li><a href="login.html">登入</a></li>
          </ul>
        </nav>
      </header>
    <main class="l-content m">
        <h2>使用者登入</h2>
        <div>
            <div class="l-tag">
                <button class="l-tag-item m">發行公司．股務代理機構</button>
            </div>
            <div class="l-form m">
                <div class="l-field">
                    <label class="l-fieldname">單位代號：</label>
                    <input class="l-fielddata" />
                </div>
                <div class="l-field">
                    <label class="l-fieldname">憑證種類：</label>
                    <select class="l-fielddata ">
                        <option>ss</option>
                        <option>aa</option>
                    </select>
                </div>
                <div class="l-field">
                    <label class="l-fieldname">使用者帳號：</label>
                    <input class="l-fielddata" />
                </div>
                <div class="l-field">
                    <label class="l-fieldname">使用者密碼：</label>
                    <input class="l-fielddata" />
                </div>
                <button class=" l-btn" onclick="javascript:location.href='terms.html'">登入</button>
            </div>
        </div>
        <button class=" l-btn">資料下載</button>
    </main>
    <footer>
        <div>
          聯絡我們：<br />週一至週五<br />
          08:00〜20:00 電話：(02)3789-7555<br />
          08:30〜17:30 電話：(02)2514-1125、(02)2514-1242
        </div>
        <div>
          E-Mail：tdcc@tdcc.com.tw<br />
          台北市復興北路363號11樓
        </div>
        <div class="footer-line"></div>
        <div>
          <img src="../assets/images/ANAB.png"></img>
          <img src="../assets/images/dpmark.png"></img>
        </div>
      </footer>
</body>

</html>