<!DOCTYPE html>
<html>
<head>
    <title>TDCC 股東e票通股東會電子投票平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../assets/css/style.css" rel="stylesheet" />
    <link href="../assets/css/login.css" rel="stylesheet" />
	<link href="../assets/css/shared.css" rel="stylesheet" />
</head>

<body class="l-body">
        <header>
                <div id="pc">
                  <div id="header">
                    <div style="position: absolute;width: 5.7%;">
                      <div id="logo">
                        <div id="logo_tdcc">
                          <span>TDCC </span>
                        </div>
                        <div id="logo_span1">
                          <span>股東e票通</span>
                        </div>
                        <div id="logo_span2">
                          <span>股東會電子投票平台</span>
                        </div>
                      </div>
                    </div>
                    <div style="position: absolute;top: 56px;width: 100%;">
                      <div class="header-menu">
                        <a href="login.html"><span>登入｜</span></a>
                        <a><span>聯絡我們｜</span></a>
                        <a><span>Ｑ＆Ａ｜</span></a>
                        <a><span>統計專區｜</span></a>
                        <a><span>活動消息｜</span></a>
                        <a><span>關於我們｜</span></a>
                        <a href="index.html"><span>｜首頁｜</span></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="mobile">
                  <div id="header">
                    <div style="position: absolute;width: 95%;">
                      <div id="logo">
                        <div id="logo_tdcc">
                          <span>TDCC </span>
                        </div>
                        <div id="logo_span1">
                          <span>股東e票通</span>
                        </div>
                        <div id="logo_span2">
                          <span>股東會電子投票平台</span>
                        </div>
                      </div>
                      <div class="hamburger-menu" onclick="MenuToggle()">
                        <img
                          style="vertical-align:middle"
                          src="../assets/images/hamburger2.svg"
                        />
                      </div>
                    </div>
                    <div id="menu" class="topmenu">
                      <ul class="menu">
                        <li><a href="index.html">首頁</a></li>
                        <li><a href="#">關於我們</a></li>
                        <li><a href="#">活動消息</a></li>
                        <li><a href="#">參加發行公司</a></li>
                        <li><a href="#">Ｑ＆Ａ</a></li>
                        <li><a href="#">聯絡我們</a></li>
                        <li><a href="login.html">登入</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </header>
    <div class="l-content m">
        <h2>使用者登入</h2>
        <div>
            <div class="l-tag">
                <button class="l-tag-item m">發行公司．股務代理機構</button>
            </div>
            <div class="l-form m">
                <div class="l-field">
                    <label class="l-fieldname">單位代號：</label>
                    <input  class="l-fielddata"/>
                </div>
                <div class="l-field">
                    <label class="l-fieldname">憑證種類：</label>
                    <select class="l-fielddata l-select">
                        <option>ss</option>
                        <option>aa</option>
                    </select>
                </div>
                <div class="l-field">
                    <label class="l-fieldname">使用者帳號：</label>
                    <input  class="l-fielddata"/>
                </div>
                <div class="l-field">
                    <label class="l-fieldname">使用者密碼：</label>
                    <input class="l-fielddata"/>
                </div>
                <button class="s-btn l-btn" onclick="javascript:location.href='terms.html'">登入</button>
            </div>
        </div>
        <button class="s-btn l-btn">資料下載</button>
    </div>
    <footer>
            <div id="pc">
                <div id="footer">
                    <div id="contect_span1">
                    <span
                        >聯絡我們：<br />週一至週五<br />
                        08:00〜20:00 電話：(02)3789-7555<br />
                        08:30〜17:30 電話：(02)2514-1125、(02)2514-1242<br
                    /></span>
                    </div>
                    <div id="contect_span2">
                    <span
                        >E-Mail：tdcc@tdcc.com.tw<br />
                        台北市復興北路363號11樓</span
                    >
                    </div>
                    <div id="footer_line"></div>
                    <div class="footer_images">
                        <img src="../assets/images/ANAB.png"></img>
                        <img src="../assets/images/dpmark.png"></img>
                    </div>
                </div>
            </div>
            <div id="mobile">
                <div id="footer">
                    <div class="contect_span">
                    <span
                        >聯絡我們：<br />週一至週五<br />
                        08:00〜20:00 電話：(02)3789-7555<br />
                        08:30〜17:30 電話：(02)2514-1125、(02)2514-1242<br
                    /></span>
                    </div>
                    <div class="contect_span">
                    <span>E-Mail：tdcc@tdcc.com.tw<br />
                        台北市復興北路363號11樓</span>
                    </div>
                    <div class="footer_images">
                        <img src="../assets/images/ANAB.png"></img>
                        <img src="../assets/images/dpmark.png"></img>
                    </div>
                </div>
            </div>
        </footer>
        <script>
            function MenuToggle() {
                var x = document.getElementById("menu");
                if (x.className === "topmenu") {
                  x.className += " responsive";
                } else {
                  x.className = "topmenu";
                }
            }
        </script>
</body>
</html>