<!DOCTYPE html>
<html>
  <head>
    <title>TDCC 股東e票通股東會電子投票平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../assets/css/style.css" rel="stylesheet" />
    <link href="../assets/css/shared.css" rel="stylesheet" />
    <link href="../assets/css/terms.css" rel="stylesheet" />
  </head>

  <body class="t-body">
    <header>
      <div class="header-logo t-header-pc">
        <a href="index.html"><img src="../assets/images/logo_gray.png"/></a>
      </div>
      <div class="t-header-pc" style="margin-left: 5%;">
        <p>您好，歡迎使用「股東e票通」<br />身分證字號：X12345***</p>
      </div>
      <div class="t-header-m">
        <p>法規條款</p>
      </div>
    </header>
    <main class="t-content m">
      <div class="t-card m">
        <p>
          歡迎您使用「股東e票通」股東會電子投票平台，本平台係受發行公司委託提供電子投票服務，股東透過本平台行使表決權，即完成對公司股東會各項議案之意思表示。為確保您的權益，請在使用本平台前詳細閱讀下列條款，當您在線上點選「我同意上列條款」，即視為您已詳細閱讀及知悉以下事項：
        </p>
        <p class="t-p-lv1">
          一、 公司法相關規定
        </p>
        <p class="t-p-lv2">
          (一)
          以電子方式行使表決權時，視為親自出席股東會。但就該次股東會之臨時動議及原議案之修正，視為棄權。
        </p>
        <p class="t-p-lv2">
          (二)
          欲親自出席股東會者，應於股東會開會二日前，以與行使表決權相同之方式撤銷前項行使表決權之意思表示，逾期撤銷者，以電子方式行使表決權為準。
        </p>
        <p class="t-p-lv2">
          (三)
          股東於本平台電子投票有修改意思表示時，即視為撤銷前意思表示，並以修改後之意思表示為準。
        </p>
        <p class="t-p-lv2">
          (四)
          股東以電子方式行使表決權，並以委託書委託代理人出席股東會者，以委託代理人出席行使之表決權為準。
        </p>
        <p class="t-p-lv1">
          二、 公開發行股票公司股務處理準則規定
        </p>
        <p class="t-p-lv2-s">
          以電子方式行使表決權時，應依公司製作之電子格式，對各項議案為意思表示；未為意思表示者，該議案視為棄權。
        </p>
        <p class="t-p-lv1">
          三、 臺灣集中保管結算所股份有限公司電子投票平台作業要點等相關規定。
        </p>
        <p class="t-p-lv1">
          四、
          集保結算所為受託辦理股東會電子投票服務之目的，自發行公司蒐集股東姓名、身分證統一編號（其他身分識別號碼）、投票公司、股東戶號、各議案表決權數及由股東提供之網路身分認證紀錄、投票結果等資料，將提供予委託之各該發行公司，除發行公司本次召開之股東會有訴訟之情事者，至少保存至訴訟終結為止外，所有資料至少保存一年；該等資料集保結算所將提供予中華民國境內依法有請求權之機關（構）。股東並得以書面方式向本公司查詢/請求閱覽/請求製給複製本、於適當釋明後請求補充或更正、或請求本公司停止蒐集、處理或利用及請求刪除該個人資料，申請書表得至本公司業務部櫃檯（地址：臺北市松山區復興北路365號2樓，電話：02-27195805分機411）索取，相關事項請參見本公司網站（網址：http://smart.tdcc.com.tw/pdf/others/a228.pdf）。
        </p>
        <div class="t-version">版次:6.0</div>
        <div class="t-group m">
          <button class=" t-group-btn m">我不同意</button>
          <button class=" t-group-btn m">我同意上列條款</button>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
