/* button */
.s-btn {
  /*login, terms共用*/
  background-color: #ffffff;
  border: 1px solid #95989a;
  margin: 0px auto;
  color: #95989a;
}
button.s-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.container {
  width: 80%;
  margin: auto;
}

@media (max-width: 979px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 980px) {
  .container {
    margin-top: 139px;
  }
}
