/* button */
.s-btn { /*login, terms共用*/
    background-color: #FFFFFF;
    border: 1px solid #95989A;
    margin: 0px auto;
    color: #95989A;
}
button.s-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.container {
    width: 80%;
    margin: auto;
}

@media screen and (max-width: 979px) {
    .container {
        width: 100%;
    }
}